body {
  background-color:  rgb(67 76 113);
}

.links {
  a {
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
  }
}

.create-update-car {
  display: flex;
  align-items: center;
  width: 265px;

  input,
  button {
    height: 30px;
    box-sizing: border-box;
    margin-right: 2px;
  }

  button {
    width: 60px;
  }
}

.buttons-block {
  button {
    margin: 3px 3px 0px 0px;
  }
}

.header {
  display: flex;
  align-items: center;
  color: white;

  h3 {
    margin-left: 10px;
  }
}

.car-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  height: 60px;
  margin-top: 10px;
  border-bottom: solid 2px white;
  border-top: solid 2px white;

  &::before {
    content: "";
    position: absolute;
    right: 0px;
    height: 100%;
    width: 24px;
    background-size: cover;
    background-image: url(/assets/img/F1_chequered_flag.svg);
  }

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    border-bottom: dashed 1px white;
    top: 50%;
    width: 100%;
    z-index: -1;
  }

  .car {
    position: absolute;
    width: 80px;
    height: 40px;
    bottom: 0px;
    left: 0px;
  }

  .select-remove-buttons {
    position: relative;
    display: flex;
    p {
      margin: 0;
      margin-left: 10px;
      color: white;
    }
    button {
      margin-right: 3px;
    }
  }
}
.pagination {
  button {
    min-width: 35px;
    margin: 4px 4px 0px 0px;
    background-color: rgb(150 150 150);
  }
  .current-page {
    background-color:  rgb(243, 243, 243);
  }
}
button {
  &:disabled {
    background-color: rgb(199, 199, 199);
  }
}

.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.377);
  z-index: 2;
  color: aliceblue;
}